<body class="body">
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-spinner"></div>
  </div>
      <section class="login_section">
        <div class="inquiry_title_container">
            <img src="../../assets/logo/pasig_logo.png" alt="pasig logo">
            <h1 class="inquiry_title">Pasig Dengue Task Force<br>Online Management</h1>
        </div>
        <div class="description_container">
            <h1 class="description">Admin Registration</h1>
        </div>
        <div class="form_container">
            <form (ngSubmit)="register(myForm)" #myForm="ngForm">
              <div class="form-row">
                <div class="login_container">
                  <div class="fields_container">
                    <div class="column_1">
                        <!--name-->
                        <div class="form-group">
                          <i class="fa fa-user icon"></i>
                          <input type="text" class="form-control" id="fullname" name="fullname" placeholder="First Name" required
                              [(ngModel)]="formData.fullname"
                              [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['fullname'].invalid }">
                          <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['fullname'].invalid">
                              <span class="tooltip-text">Please enter your fullname.</span>
                          </div>
                          <div class="valid-tooltip">
                              &nbsp;
                          </div>
                          </div> 
                            
                            <!--gender-->
                            <div class="form-group">
                              <i class="fa fa-venus-mars icon"></i>
                              <select class="form-control" id="gender" name="gender" required [(ngModel)]="formData.gender"
                                  [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['gender'].invalid }">
                                  <option value="" disabled>Select gender</option>
                                  <option value="male">Male</option>
                                  <option value="female">Female</option>
                              </select>
                              <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['gender'].invalid">
                                  <span class="tooltip-text">Please select a gender.</span>
                              </div>
                              <div class="valid-tooltip">
                                  &nbsp;
                              </div>
                          </div>

                          <!--email-->
                          <div class="form-group">
                            <i class="fa fa-envelope icon"></i>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required
                                [(ngModel)]="formData.email"
                                [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['email'].invalid }"
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                            <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['email'].invalid">
                                <span class="tooltip-text">Invalid Email.</span>
                            </div>
                            <div class="valid-tooltip">
                                &nbsp;
                            </div>
                        </div>
        
                          <!-- password -->
                          <div class="form-group password-container">
                            <i class="fa fa-lock icon"></i>
                            <input
                              type="{{ showPassword ? 'text' : 'password' }}"
                              class="form-control"
                              id="password"
                              name="password"
                              placeholder="Password"
                              required
                              [(ngModel)]="formData.password"
                              [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['password'].invalid }"
                              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$"
                            >
                            <span class="password-icon" (click)="togglePasswordVisibility()">
                              <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                            </span>
                            <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['password'].invalid">
                              <span class="tooltip-text">
                              Password must have at least 1 uppercase and lowercase, 1 digit,
                               1 special character(!@#$%^&*), and be 8+ characters long.
                              </span>
                            </div>
                            <div class="valid-tooltip">
                              &nbsp;
                            </div>
                          </div>

                          <!--repeat password-->
                          <div class="form-group">
                            <i class="fa fa-lock icon"></i>
                            <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Repeat Password" required [(ngModel)]="formData.repeat_password"
                              [ngClass]="{ 'is-invalid': myForm.submitted && (myForm.controls['repeat_password'].invalid || passwordMismatch) }"
                              (input)="checkPasswordMatch()">
                              <div class="invalid-tooltip" *ngIf="myForm.submitted && (myForm.controls['repeat_password'].invalid || passwordMismatch)">
                              <span class="tooltip-text" *ngIf="passwordMismatch">Passwords do not match.</span>
                                <span class="tooltip-text" *ngIf="!passwordMismatch">Please repeat the password.</span>
                              </div>
                              <div class="valid-tooltip">
                              &nbsp;
                            </div>
                        </div>

                      </div>

                      <div class="column2">
                        <!--date-->
                        <div class="form-group">
                          <input type="date" class="form-control" id="birthday" name="birthday" placeholder="Birthday" required [(ngModel)]="formData.birthday"
                            [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['birthday'].invalid }">
                          <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['birthday'].invalid">
                            <span class="tooltip-text">Please enter a valid date.</span>
                          </div>
                          <div class="valid-tooltip">
                            &nbsp;
                          </div>
                        </div>

                        <!--contact number-->
                        <div class="form-group">
                          <i class="fa fa-phone icon"></i>
                          <input type="text" class="form-control" id="contact_number" name="contact_number" placeholder="Contact Number" required [(ngModel)]="formData.contact_number"
                              [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['contact_number'].invalid }"
                              pattern="[0-9]+">
                          <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['contact_number'].invalid">
                              <span class="tooltip-text">Please enter a valid mobile number.</span>
                          </div>
                          <div class="valid-tooltip">
                              &nbsp;
                          </div>
                      </div>

                        <!--office-->
                        <div class="form-group">
                          <i class="fa fa-building icon"></i>
                          <select class="form-control" id="office" name="office" required [(ngModel)]="formData.office"
                              [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['office'].invalid }">
                              <option value="" disabled>Work | Office</option>
                              <option value="Pasig Dengue Task Force">Pasig Dengue Task Force</option>
                              <option value="Bagong Ilog">Bagong Ilog</option>
                              <option value="Bagong Katipunan">Bagong Katipunan</option>
                              <option value="Bambang">Bambang</option>
                              <option value="Buting">Buting</option>
                              <option value="Caniogan">Caniogan</option>
                              <option value="Dela Paz">Dela Paz</option>
                              <option value="Kalawaan">Kalawaan</option>
                              <option value="Kapasigan">Kapasigan</option>
                              <option value="Kapitolyo">Kapitolyo</option>
                              <option value="Malinao">Malinao</option>
                              <option value="Manggahan (incl. Napico)">Manggahan (incl. Napico)</option>
                              <option value="Maybunga">Maybunga</option>
                              <option value="Oranbo">Oranbo</option>
                              <option value="Palatiw">Palatiw</option>
                              <option value="Pinagbuhatan">Pinagbuhatan</option>
                              <option value="Pineda">Pineda</option>
                              <option value="Rosario">Rosario</option>
                              <option value="Sagad">Sagad</option>
                              <option value="San Antonio">San Antonio</option>
                              <option value="San Joaquin">San Joaquin</option>
                              <option value="San Jose">San Jose</option>
                              <option value="San Miguel">San Miguel</option>
                              <option value="San Nicolas">San Nicolas</option>
                              <option value="Santa Cruz">Santa Cruz</option>
                              <option value="Santa Lucia">Santa Lucia</option>
                              <option value="Santa Rosa">Santa Rosa</option>
                              <option value="Santolan">Santolan</option>
                              <option value="Santo Tomas">Santo Tomas</option>
                              <option value="Sumilang">Sumilang</option>
                              <option value="Ugong">Ugong</option>
                          </select>
                          <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['office'].invalid">
                              <span class="tooltip-text">Please select an office.</span>
                          </div>
                          <div class="valid-tooltip">
                              &nbsp;
                          </div>
                      </div>

                      <!--role-->
                      <div class="form-group">
                        <i class="fa fa-users icon"></i>
                        <select class="form-control" id="selected_role" name="selected_role" required [(ngModel)]="formData.selected_role"
                            [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['selected_role'].invalid }">
                            <option value="" disabled>Select Role</option>
                            <option value="Barangay Health Officer">Barangay Health Officer</option>
                            <option value="Dengue Task Force Staff">Dengue Task Force Staff</option>
                        </select>
                        <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['selected_role'].invalid">
                            <span class="tooltip-text">Please select a role.</span>
                        </div>
                        <div class="valid-tooltip">
                            &nbsp;
                        </div>
                    </div>
                        <!-- file upload -->
                        <div class="form-group" id="file_upload_container">
                               
                          <div class="custom-file">
                            <i class="fa fa-upload icon"></i>
                            <button type="button" class="btn btn-light" (click)="openFileInput()" id="file_button">Choose File</button>
                            <div *ngFor="let selectedFile of selectedFiles; let i = index">
                              <span *ngIf="selectedFiles.length > 0">Selected Files:</span>
                              <div class="selected-file"  style="margin-bottom: 5px;">
                                <span>{{ selectedFile.name !== 'No Chosen File' ? (selectedFile.name | slice:0:20) + (selectedFile.name.length > 15 ? '...   ' : '') : 'No Selected File' }}</span>
                                <button class="btn btn-danger btn-sm" (click)="removeSelectedFile(i)">Delete</button>
                              </div>
                            </div>
                            <div class="file-tooltip-text" *ngIf="myForm.submitted &&selectedFiles.length === 0">
                              <span class="tooltip-text">Please choose a file.</span>
                            </div>
                            <div class="file-tooltip-text" *ngIf="selectedFiles.length >= 2">
                              <span class="tooltip-text">You can upload a maximum of 2 files.</span>
                            </div>
                            <input type="file" id="fileUpload" name="fileUpload" accept=".pdf, .jpg, .jpeg, .png" style="display: none;" (change)="handleFileUpload($event)" multiple>
                          </div>
                        </div>
                  
                     
                    </div>
                  </div>
                </div>
              </div>

              <div id="checkbox_container">
                <input type="checkbox" id="termsCheckbox" [(ngModel)]="isTermsChecked" (change)="toggleTermsCheckbox()">
                <label for="termsCheckbox">I agree to the <a href="javascript:void(0)" (click)="openPdfInNewTab()">Terms and Conditions</a> and <a href="javascript:void(0)" (click)="openPdfInNewTab()">Privacy Policy</a></label>
              </div>
              <div class="error-container">
                <div *ngIf="showEmailError" class="alert alert-danger mt-2">
                  Email Address Already Exist
                </div>
              </div>
              <div class="error-container">
                <div *ngIf="showTermsError" class="alert alert-danger mt-2">
                  Please agree to our terms and conditions.
                </div>
              </div>
              <div class="send_button_container">
                <div class="form-row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" id="send_button">Register</button>
                  </div>
                </div>
              </div>
              <div class="register_button_container">
                <p>Already have an account?</p>
                <a routerLink="/account-login">Account Login!</a>
              </div>
            </form>
        </div>
    </section>

    <!-- Modal -->
    <div id="response_modal" class="modal" [ngStyle]="{ display: carouselModalOpen ? 'block' : 'none' }">
      <div class="modal-content">
        <div class="modal-header" id="modal_header">
          <h2>Account Created Successfully</h2>
          <span class="close" id="close_carousel" (click)="closeCarouselModal()">&times;</span>
        </div>
        
        <div class="modal-body">
          <p>Your account has been successfully created.</p>
          <p>We will send you an email once your account has been validated.</p>
          <div class="redirect-button-container">
            <button class="btn btn-primary" (click)="redirectToLogin()">Go to Login</button>
          </div>
        </div>
      </div>
    </div>    
</body>