@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');



.label_section{
  padding: 0;
  margin-top: 20px;
  width: 78%;
  margin-left: auto;
}

.label_section H1{
  font-family: 'Squada One', sans-serif;
  color: #28376D;
  font-size: 3vw;
  margin-top: 20;
  margin-bottom: 20px;
}


/*list*/
.report_list_section{
  width: 70%;
  margin-left: auto;
  margin-right: 5%;
}

.report_list_container{
  font-family: 'Squada One', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  border: black 1px solid;
}

/*table*/

table{
    padding-bottom: 30px;
}

.report_list_header{
    background-color: #445180;
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.report_list_header h2{
   font-size: 3vw;
}

.user_information_row{
    font-family: 'Montserrat', sans-serif; 
    flex-direction: row;
    background-color: white ;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    font-size: 1.5vw;
    border-bottom: solid black 2px;
    text-align: center;
}

.user_information_row img{
    width: 5vw;
    margin-right: 30px;
    width: 6vw;
    height: 6vw;
    border-radius: 180px;
    border: solid black 1px;
}

.user_information_row .username_and_name{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
}

.user_information_row .username_and_name span{
    display: flex;
    background-color: white;
    border: solid black 1px;
    padding: 5px;
    border-radius: 10px;
}

.user_information_row .barangay{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
    width: 50%;
}

.user_information_row .barangay p{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user_information_row .barangay span{
    background-color: white;
    border: solid black 1px;
    padding: 5px;
    border-radius: 10px;
    width: 70%;
}
.report_table .column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    gap: 9px;
}

.report_table tbody .column2{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 1.3vw;
}
.report_table tbody .column2 .subject_text{
    text-align: left;
    display: flex;
    flex-direction: row;
    font-size: 1.3vw;
    align-items: center;
}

.report_table tbody .column2 span{
    font-size: 1.3vw;
    background-color: white;
    padding: 5px;
    border: black solid 1px;
    border-radius: 10px;
    width: 90%;
}
.report_id{
    display: flex;
    align-items: center;
}

.report_table tbody .column2 .reportId_text{
    text-align: left;
    flex-direction: row;
    font-size: 1.3vw;
    background-color: white;
    padding: 5px;
    border: black solid 1px;
    border-radius: 10px;
    width: 75%;
}

.date{
  display: flex;
  font-size: 1.3vw;
  align-items: center;
}

.report_table tbody .column3 .date_text{
  text-align: left;
  flex-direction: row;
  font-size: 1.3vw;
  background-color: white;
  padding: 5px;
  border: black solid 1px;
  border-radius: 10px;
  width: 80%;
}

.status{
  display: flex;
  font-size: 1.3vw;
  align-items: center;
}

.report_table tbody .column3 .status_text{
  text-align: left;
  flex-direction: row;
  font-size: 1.3vw;
  background-color: #00C3FF;
  color: black;
  padding: 5px;
  border: black solid 1px;
  border-radius: 10px;
  width: 80%;
}

.report_table tbody .column3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap:  10px;
}


tbody td img{
  width: 4vw;
}

tbody td{
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif; 
}

tbody .subject{
  text-align: left;
  font-size: 1.5vw;
}


.column3_container{
    width: 33%;
    padding-right: 35px;
    padding-left: 35px;
}


.first_column_container{
    width: 20%;
}

.report_content_container{
  font-family: 'Montserrat', sans-serif; 
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom-left-radius: 15px ;
  border-bottom-right-radius: 15px ;
}

.report_content_container .report_content_label{
  font-size: 1.5vw;
}

.report_content_container .report_content_div{
  font-size: 1.5vw;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: solid black 1px;
  margin-bottom: 20px;
  background-color: white;
}

.report_content_container .report_content_div p {
  line-height: 1.5;
}

#respond_button{
  border-style: none;
  background-color: #0384E9;
  width: 12vw;
  height: 3.3vw;
  border-radius: 20px;
  color: white;
  font-size: 1.5vw;
  cursor: pointer;
  margin-bottom: 30px;
  align-self: flex-end;
  margin-right: 30px;
}

  /* for modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 10vw;
    padding-right: 10vw;
  }
  
  .modal-content {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal-header h2,
  .modal-footer h3 {
    margin: 0;
    padding: 5px;
  }
  
  #modal_header {
    background: var(--modal-color);
    padding: 15px;
    background-color: #28376D;
    color: white;
    font-family: 'Squada One', sans-serif;
    font-size: large;
  }

  #modal_header h2{
    margin-left: auto;
  }
  
  .modal-body {
    padding: 10px 20px;
    background-color: white;
  }
  
  #close_carousel {
    color: white;
    float: right;
    font-size: 30px;
  }
  
  #close_carousel:hover,
  #close_carousel:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  
  @keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

  /*for form*/

.inquiry_title_container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.inquiry_title_container h1{
  font-family: 'Squada One', sans-serif;
  color: #18605F;
  font-weight: bold;
  font-size: 3.5vw;
}

.description_container {
  font-family: 'Squada One', sans-serif;
  float: left;
  width: 46vw;
  margin-top: 3px;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 20%;
}

.description_container h1 {
  color: #18605F;
  font-size: 2.5vw;
  margin: 0;
  float: left;
  margin-bottom: 20px;
  font-weight: bold;
}


.form_container{
  width: 100%;
}

.form-row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.fields_container{
  display: flex;
  flex-direction: row;
  gap: 10px;
}


#action, #date, #status{
  background-color: white;
  border-radius: 10px;
  height: 3.5vw;
  margin-bottom: 30px;
  width: 18vw;
  border: solid black 1px;
}

#action, #status{
  background-color: #00C3FF;
}

#response{
  height: 10vw;
  border: solid black 1px;
}

#column_1_label h5{
  height: 3.7vw;
  margin-bottom: 30px;
  padding-top: 5px;
  font-size: 1.5vw;
  text-align: right;
}
#column_2_label h5{
  height: 3.7vw;
  margin-bottom: 30px;
  padding-top: 5px;
  font-size: 1.5vw;
  text-align: right;
}

.invalid-tooltip {
  position: absolute;
  margin-top: 3px;
  z-index: 1
}

.form-group .invalid-tooltip{
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9vw;
  z-index: 1
}

.tooltip-text {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9vw;
  z-index: 1
}

.form-group {
  position: relative;
}

.form-control.is-invalid {
  border-color: #dc3545;
  z-index: 1
}

.send_button_container{
  text-align: center;
}

.send_button_container button{
  background-color: #0384E9;
  width: 20vw;
  border-radius: 20px;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 10px;
}

.register_button_container{
  margin-top: 20px;
  text-align: center;
  font-size: 1.2vw;
}

.register_button_container a{
  text-decoration: underline;
}


