<app-header></app-header>
<app-navbar></app-navbar>
<app-sidenav></app-sidenav>

<body>
    <section class="label_section">
        <div class="label_container">
            <h1>Community Reports Management > User Report Information</h1>
        </div>
    </section>

    <section class="report_list_section">
        <div class="report_list_container">
            <div class="report_list_header">
                <h2>Mobile User Report</h2>
            </div>
            <div class="user_information_row">
                <img [src]="image" alt="User Image">
                <div class="username_and_name">
                   {{email}}
                    <p><span>{{name}}</span></p>
                </div>
                <div class="barangay">
                    &nbsp;
                    <p><b>Barangay: </b><span>{{reports.barangay}}</span></p>
                </div>

            </div>
            <table class="report_table">
                <tbody>
                    <tr>
                        <td class="first_column_container">
                            <div class="column1">
                                <b>Report # {{reports.report_number}}</b> 
                                <img src="../../assets/user_report_images/report_icon.png" alt="Report Image">
                            </div>
                        </td>
                        <td>
                            <div class="column2">
                                <p class="subject_text"><b>Subject:&nbsp;</b><span >{{reports.report_subject}}</span></p>
                                <p class="report_id"><b>Report Id:&nbsp;</b><span class="reportId_text">{{reports.reportId}}</span></p>
                            </div>
                        </td>
                        <td class="column3_container">
                            <div class="column3">
                                <p class="date"><b>Date:&nbsp;</b><span class="date_text">{{reports.formattedDate}}</span></p>
                                <p class="status"><b>Status:&nbsp;</b><span class="status_text" [ngStyle]="{'background-color': getStatusBackgroundColor(latestResponseStatus)}">
                                    {{ latestResponseStatus || 'New Report' }}
                                  </span></p>
                                  
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="report_content_container">
                <div class="report_content_label"> 
                    <h2>Report Description: </h2>
                </div>
                <div class="report_content_div">
                    <p>{{reports.report_description}}</p>
                </div>
            </div>
            <button id="respond_button" (click)="openCarouselModal()" *ngIf="adminResponseData.length === 0">Take Action</button>
        </div>
    </section> 
    <section class="report_list_section" *ngIf="adminResponseData.length > 0">
        <div class="status_list_container">
            <div class="status_list_header">
                <h2>Concern Status</h2>
            </div>
            <table class="report_table" id="status_table">
                <thead>
                    <tr>
                        <th>Date & Time</th>
                        <th>Status</th>
                        <th>Description</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody id="status_table_body">
                    <tr *ngFor="let response of adminResponseData">
                        <td>{{ response.formattedDate }}</td>
                        <td [ngStyle]="{'color': getStatusColor(response.report_status)}">{{ response.report_status }}</td>
                        <td>{{ response.response_description }}</td>
                        <td>
                            <button
                            id="update_status_button"
                            (click)="openCarouselModal()"
                            [disabled]="!isLatestResponse(response)"
                          >
                            Update Status
                          </button>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </section>
    

     <!-- Modal -->
     <div id="response_modal" class="modal" [ngStyle]="{ display: carouselModalOpen ? 'block' : 'none' }">
        <div class="modal-content">
        <div class="modal-header" id="modal_header">
            <h2>Dengue Task Force Response Form</h2>
            <span class="close" id="close_carousel" (click)="closeCarouselModal()">&times;</span>
        </div>
        
        <div class="modal-body">
            <div class="form_container">
                <form (ngSubmit)="register(myForm)" #myForm="ngForm">
                  <div class="form-row">
                    <div class="report_fields_container">
                      <div class="fields_container">
                        <div id="column_1_label">
                            <!--status label-->
                            <div class="form-group">
                                <div>
                                  <h5>Update Status:</h5>
                                </div>
                            </div>
                                
                                <!--action label-->
                                <div class="form-group">
                                  <div>
                                    <h5>Action to do:</h5>
                                  </div>
                              </div>
                          </div>
                        <div class="column_1">
                            <!--status-->
                            <div class="form-group">
                                <select class="form-control" id="action_to_do" name="report_status" required [(ngModel)]="formData.report_status"
                                    [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['report_status'].invalid }">
                                    <option value="" disabled>Select Report Status</option>
                                    <option value="New Report">New Report</option>
                                    <option value="Under Review">Under Review</option>
                                    <option value="Resolved">Resolved</option>
                                </select>
                                <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['report_status'].invalid">
                                    <span class="tooltip-text">Please select a report status.</span>
                                </div>
                                <div class="valid-tooltip">
                                    &nbsp;
                                </div>
                            </div>
                                
                                <!--action-->
                                <div class="form-group">
                                  <select class="form-control" id="action_to_do" name="action_to_do" required [(ngModel)]="formData.action_to_do"
                                      [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['action_to_do'].invalid }">
                                      <option value="" disabled>Select Report Action</option>
                                      <option value="Action 1">Action 1</option>
                                      <option value="Action 2">Action 2</option>
                                      <option value="Action 3">Action 3</option>
                                  </select>
                                  <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['action_to_do'].invalid">
                                      <span class="tooltip-text">Please select an action.</span>
                                  </div>
                                  <div class="valid-tooltip">
                                      &nbsp;
                                  </div>
                              </div>
                          </div>

                          <div id="column_2_label">
                            <!--date-->
                            <div class="form-group">
                                <div>
                                  <h5>Date:</h5>
                                </div>
                            </div>
                          </div>
    
                          <div class="column2">
                            <!--date-->
                            <div class="form-group">
                                <input type="date" class="form-control" id="date" name="date" placeholder="Date" required [(ngModel)]="formData.date"
                                  [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['date'].invalid }">
                                <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['date'].invalid">
                                  <span class="tooltip-text">Please enter a valid date.</span>
                                </div>
                                <div class="valid-tooltip">
                                  &nbsp;
                                </div>
                              </div>
                        </div> 
                      </div>
                      <div class="form-group">
                        <textarea class="form-control" id="response_description" name="response_description" placeholder="Response" required [(ngModel)]="formData.response_description"
                            [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['response_description'].invalid }"></textarea>
                        <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['response_description'].invalid">
                            <span class="tooltip-text">Please enter your Response.</span>
                        </div>
                        <div class="valid-tooltip">
                            &nbsp;
                        </div>
                    </div>
                    </div>
                  </div>
                  <div class="send_button_container">
                    <div class="form-row">
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-primary mt-3">Send Response</button>
                      </div>
                    </div>
                  </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="SuccessModal" class="SuccessModal" class="modal" [ngStyle]="{ display: carouselModalSuccess ? 'block' : 'none' }">
        <div class="modal-content">
          <div class="modal-header" id="modal_header">
            <h2>Submitted Successfully!</h2>
          </div>
          
          <div class="modal-body">
            <p>Your response has been successfully submitted</p>
            <div class="redirect-button-container">
                <button class="done-button" (click)="responseSent()">Done</button> 
            </div>
          </div>
        </div>
      </div> 
</body>