<app-web-header></app-web-header>
<app-web-navbar></app-web-navbar>

<body>
  <header>
    <h1>Dengue 5S Strategy <br>
        <span>by Department of Health</span>
    </h1>
  </header>
  <section class="image_section">
    <img src="../../../assets/dengue_5s_images/top_image.png" alt="">
  </section>
  <section class="information_section">
    <div class="row">
        <div class="image_container">
            <img src="../../../assets/dengue_5s_images/media.png" alt="">
            
        </div>
        <div class="text_container">
            <div class="image_and_title">
                <img src="../../../assets/dengue_5s_images/s2.png" alt="">
                <h1>{{ searchAndDestroyTitle }}</h1>
            </div>
            <p>{{ searchAndDestroyInfo }}</p>
        </div>
    </div>
    <div class="row">
        <div class="text_container">
            <div class="image_and_title">
                <img src="../../../assets/dengue_5s_images/s3.png" alt="">
                <h1>{{ selfProtectTitle }}</h1>
            </div>
            <p>{{ selfProtectInfo }}</p>
        </div>
        <div class="text_container">
            <div class="image_and_title">
                <img src="../../../assets/dengue_5s_images/s4.png" alt="">
                <h1>{{ seekConsultationTitle }}</h1>
            </div>
            <p>{{ seekConsultationInfo }}</p>
        </div>
    </div>
    <div class="row">
        <div class="text_container">
            <div class="image_and_title">
                <img src="../../../assets/dengue_5s_images/s1.png" alt="">
                <h1>{{ supportFoggingTitle }}</h1>
            </div>
            <p>{{ supportFoggingInfo }}</p>
        </div>
        <div class="text_container">
            <div class="image_and_title">
                <img src="../../../assets/dengue_5s_images/s5.png" alt="">
                <h1>{{ sustainHydrationTitle }}</h1>
            </div>
            <p>{{ sustainHydrationInfo }}</p>
        </div>
    </div>
   </section>



  <app-footer></app-footer>
</body>
