.header {
  background-color: #28376D;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  height: 6.5vw;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  width: 82%;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: white;
  margin-left: 2.5vw;
}

.notification-container {
  position: relative;
}

.notification-count {
  position: absolute;
  top: -4px;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 1px 5px;
  font-size: 1vw;
}

#bell_icon {
  width: 2vw;
  height: 2vw;
  border-radius: 180px;
  cursor: pointer;
}

.right-icons {
  display: flex;
  align-items: center;
}

.right-icons img {
  width: 5.5vw;
  margin-left: 10px;
}
