<router-outlet></router-outlet>


<footer>
  <ul>
    <li id="links_li">
      <div id="links">
        <span>Pasig Dengue Task Force</span><br>
        <a routerLink="policy">Mosquinator</a><br>
        <a routerLink="terms">© 2023 - 2024</a><br>
      </div>
    </li>
  </ul>
</footer>

<!--footer-->

<!--
<footer>
    <ul>
      <li id="links_li">
        <div id="links">
          <span>Useful Links</span><br>
          <a routerLink="policy">Privacy Policy</a><br>
          <a routerLink="terms">Terms & Condition</a><br>
        </div>
      </li>
      <li id="apps_li">
        <div id="apps">
          <span>Apps</span><br>
          <div id="icons">
            <img src="../assets/footer_images/playstore.png" class="footer_icons" alt="playstore">
            <img src="../assets/footer_images/appstore.png" class="footer_icons" alt="appstore">
            <img src="../assets/footer_images/github.png" class="footer_icons" alt="github">
        </div>
        </div>
      </li>
      <li id="logo_li">
      <div id="logo">
        <a href=""><img src="../assets/logo/Logo.png" alt="Mosquinator" width="70px"></a>
      </div>
      </li>
      <li id="support_li">
        <div id="support">
          <span>Support</span><br>
          <a routerLink="policy">Help Center</a><br>
          <a routerLink="terms">About Us</a><br>
        </div>
      </li>
      <li id="devs_li">
        <div id="developers">
          <span>Developers</span><br>
          <a href="about">Innovation Geeks</a><br>
        </div>
      </li>
    </ul>
</footer>
-->