<app-header></app-header>
<app-navbar></app-navbar>
<app-sidenav></app-sidenav>

<body>
    <section class="label_section">
        <div class="label_container">
            <h1>Accounts Management > Mobile Users</h1>
        </div>
    </section>
    <section class="report_list_section">
        <div class="report_list_container">
            <h2 class="report_list_header">Mobile Users List</h2>
            <table class="report_table">
            <tbody>
                <tr *ngFor="let user of users">
                    <td><img [src]="user.image" alt="Report Image"></td>
                    <td class="name"><p>{{ user.username }}</p></td>
                    <td><button (click)="viewReports(user)" id="view_button"><img src="../../assets/button_icons/reports_icon.png" alt="View">&nbsp;Reports</button></td>
                    <td><button (click)="editReport(user)" id="edit_button"><img src="../../assets/button_icons/edit_icon.png" alt="Edit">&nbsp;Edit</button></td>
                    <td><button (click)="deleteReport(user)" id="delete_button"><img src="../../assets/button_icons/delete_icon.png" alt="Delete">&nbsp;Delete</button></td>
                </tr>
            </tbody>
            </table>
        </div>
    </section> 
<body>