<app-web-header></app-web-header>
<app-web-navbar></app-web-navbar>
<body>
    <!--
    <header>
        <h1>About Us</h1>
    </header>
    -->
    <section class="devs_section">
        <div id="logo_container">
            <img src="../../../assets/aboutPage_images/devs.png" alt="app overview" id="logo_image">
        </div>
        
        <div id="text_container">
            <h2 id="about_devs">Student Developers</h2>
            <p id="about_devs_p">Innovation Geeks is a group of 4 IT Students specializing in Mobile and Web Applications.</p>
            <div class="buttons_container">
                <div class="mail_and_button">
                    <a href="devs"  href="mailto:lold@students.national-u.edu.ph" ><img src="../../../assets/icons/icon(1).png" alt="mail icon" id="mail_icon">
                        <button class="button-1 buttons">Robert Jay Cruz</button>
                     </a>
                </div>
                <div class="mail_and_button">
                    <a href="devs"  href="mailto:cristobalrs@students.national-u.edu.ph" ><img src="../../../assets/icons/icon(1).png" alt="mail icon" id="mail_icon">
                        <button class="button-1 buttons">Ralph Christian Cristobal</button>
                    </a>
                </div>
                <div class="mail_and_button">
                    <a href="devs"  href="mailto:lold@students.national-u.edu.ph" ><img src="../../../assets/icons/icon(1).png" alt="mail icon" id="mail_icon">
                        <button class="button-1 buttons">Lee Ann Lo</button>
                    </a>
                </div>
                <div class="mail_and_button">
                    <a href="devs"  href="mailto:renesanjuan3302@gmail.com" ><img src="../../../assets/icons/icon(1).png" alt="mail icon" id="mail_icon">
                        <button class="button-1 buttons">San Juan, Rene Victor Jr.</button>
                    </a>
                </div>
            </div>
        </div>
    </section> 
    <app-footer></app-footer>
    
</body>