<app-header></app-header>
<app-super-admin-sidenav></app-super-admin-sidenav>
<app-navbar></app-navbar>

<body>
    <div class="loading-overlay" *ngIf="isLoading">
        <div class="loading-spinner"></div>
    </div>
    <section class="label_section">
        <div class="label_container">
            <h1>Accounts Management</h1>
        </div>
    </section>
    <section class="edit_section">
        <h2 class="report_list_header">Mobile User Information</h2>
        <div class="user_information_row">
            <img [src]="image" alt="User Image">
            <div class="username_and_address">
                <span id="name">{{fetchedUserData[0].name}}</span>
                <span id="address">{{fetchedUserData[0].barangay}}</span>
                <span id="header_email">{{fetchedUserData[0].email}}</span>
            </div>
        </div>
        <div class="form_container">
            <form (ngSubmit)="save(myForm)" #myForm="ngForm">
                <div class="form-row">
                    <div class="fields_container">
                        <div class="column_1">
                            <!--gender-->
                            <label for="gender">Gender</label>
                            <div class="form-group">
                                <i class="fa fa-venus-mars icon"></i>
                                <input type="text" class="form-control" id="gender" name="gender" placeholder="Gender" disabled
                                    [(ngModel)]="fetchedUserData[0].gender">
                            </div>
                        </div>

                        <div class="column_2">
                            <!--birthday-->
                            <label for="birthday">Birthday</label>
                            <div class="form-group">
                                <i class="fa fa-calendar icon"></i>
                                <input type="text" class="form-control" id="birthday" name="birthday" placeholder="mm/dd/yyy" disabled
                                    [(ngModel)]="fetchedUserData[0].birthday">
                            </div>
                        </div>
                        <div class="column_3">
                            <!--contact number-->
                            <label for="contactNumber">Mobile Number</label>
                            <div class="form-group">
                                <i class="fa fa-phone icon"></i>
                                <input type="text" class="form-control" id="contactNumber" name="contact_number" placeholder="Contact Number" disabled
                                    [(ngModel)]="fetchedUserData[0].contact_number"
                                    pattern="[0-9]+">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="fields_container">
                        <div class="column_1">
                            <!--street_name-->
                            <label for="street_name">Street Name</label>
                            <div class="form-group">
                                <i class="fa fa-road icon"></i>
                                <input type="text" class="form-control" id="street_name" name="street_name" placeholder="Street Name" disabled
                                    [(ngModel)]="fetchedUserData[0].street_name">
                            </div>
                        </div>
                        <div class="column_2">
                            <!--address_number-->
                            <label for="address_number">House / Unit / Apartment No.</label>
                            <div class="form-group">
                                <i class="fa fa-home icon"></i>
                                <input type="text" class="form-control" id="address_number" name="address_number" placeholder="N/A" disabled
                                    [(ngModel)]="fetchedUserData[0].house_number">
                            </div>
                        </div>
                        <div class="column_3">
                            <!--address_number-->
                            <label for="floor">Floor</label>
                            <div class="form-group">
                                <i class="fa fa-home icon"></i>
                                <input type="text" class="form-control" id="floor" name="floor" placeholder="N/A" disabled
                                    [(ngModel)]="fetchedUserData[0].floor">
                            </div>
                        </div>
                        <div class="column_4">
                            <!--building_name-->
                            <label for="building_name">Building Name</label>
                            <div class="form-group">
                                <i class="fa fa-building icon"></i>
                                <input type="text" class="form-control" id="building_name" name="building_name" placeholder="N/A" disabled
                                    [(ngModel)]="fetchedUserData[0].building_name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="fields_container">
                        <div class="column_2">
                            <!--barangay-->
                            <label for="barangay">Barangay</label>
                            <div class="form-group">
                                <i class="fa fa-map-marker icon"></i>
                                <input type="text" class="form-control" id="barangay" name="barangay" placeholder="Barangay" disabled
                                    [(ngModel)]="fetchedUserData[0].barangay">
                            </div>
                        </div>
                        <div class="column_3">
                            <!--district-->
                            <label for="district">District</label>
                            <div class="form-group">
                                <i class="fa fa-map icon"></i>
                                <input type="text" class="form-control" id="district" name="district" placeholder="District" disabled
                                    [(ngModel)]="fetchedUserData[0].district">
                            </div>
                        </div>
                        <div class="column_4">
                            <!--city-->
                            <label for="city">City</label>
                            <div class="form-group">
                                <i class="fa fa-building icon"></i>
                                <input type="text" class="form-control" id="city" name="city" placeholder="City" disabled
                                    [(ngModel)]="fetchedUserData[0].city">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Modal -->
    <div id="response_modal" class="modal" [ngStyle]="{ display: carouselModalOpen ? 'block' : 'none' }">
        <div class="modal-content">
            <div class="modal-header" id="modal_header">
                <h2>Are you sure?</h2>
                <span class="close" id="close_carousel" (click)="closeCarouselModal()">&times;</span>
            </div>

            <div class="modal-body">
                <p>Confirm to edit user information:</p>
                <p>{{ userData.name }}</p>
                <div class="redirect-button-container">
                    <button class="cancel-button" (click)="closeCarouselModal()">Cancel</button>
                    <button class="confirm-button" (click)="confirmSave(myForm)">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="SuccessModal" class="SuccessModal" class="modal" [ngStyle]="{ display: carouselModalSuccess ? 'block' : 'none' }">
        <div class="modal-content">
            <div class="modal-header" id="modal_header">
                <h2>Submitted Successfully!</h2>
            </div>

            <div class="modal-body">
                <p>Your response has been successfully submitted</p>
                <div class="redirect-button-container">
                    <button class="done-button" (click)="responseSent()">Done</button>
                </div>
            </div>
        </div>
    </div>
</body>
