<app-header></app-header>
<app-sidenav></app-sidenav>
<app-navbar></app-navbar>


<body>
    <div class="loading-overlay" *ngIf="isLoading">
        <div class="loading-spinner"></div>
    </div>

    <section class="label_section">
        <div class="label_container">
            <h1>Inquiry List</h1>
        </div>
        <div class="search_report">
            <div class="search_input">
                <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (input)="onSearch()">
                <button class="search_button">
                    <img src="../../assets/user_report_images/search1.png" alt="Search">
                </button>
            </div> 
        </div>
    </section>
    <section class="report_list_section">
        <div class="report_list_container">
            <div class="table_header">
                <h2 class="report_list_header">Web User Inquiries</h2>
                <div class="dropdown_container">
                    <label for="number_dropdown">Show:</label>
                    <select id="number_dropdown" (change)="onItemsPerPageChange($event)">
                        <option value="5">5</option>
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select> 
                </div>
            </div>
            <table class="report_table" id="report_table">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="row-checkbox" (change)="checkAll($event)"></th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Received On</th>
                        <th>Actions</th>
                    </tr>
                </thead> 
                <tbody id="report_table_body">
                    <tr *ngIf="inquiries.length === 0">
                        <td colspan="7">No inquiries available.</td>
                    </tr>
                    <tr *ngFor="let inquiry of inquiries | slice:(currentPage - 1) * itemsPerPage:(currentPage * itemsPerPage); let i = index">
                        <td><input type="checkbox" class="row-checkbox" (change)="toggleSelectReport(inquiry._id)" [ngModel]="selectedReportIds.includes(inquiry._id)"></td>
                        <td>{{inquiry.email}} </td>
                        <td>{{inquiry.subject}} </td>
                        <td>{{inquiry.formattedDate}}</td>
                        <td>
                            <button class="open-button" (click)="openInquiry(inquiry)">Respond</button>
                            <button class="hide-button" (click)="openCarouselModal(inquiry)" >Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination_and_buttons_container">
            <div class="download_and_deleted_selected">
                <button class="download-selected" (click)="downloadSelectedReports()">Download Selected Reports</button>
                <button class="delete-selected" (click)="openCarouselModal2()">Delete Selected Inquiries</button>
            </div>
            <div class="pagination">
                <button (click)="previousPage()">◄</button>
                <button *ngFor="let page of getPages()" (click)="setPage(page)"  [ngClass]="{'active': page === currentPage}">{{ page }}</button>
                <button (click)="nextPage()">►</button>
            </div>
        </div>
    </section> 

    
    <!-- Modal -->
    <div id="response_modal" class="modal" [ngStyle]="{ display: carouselModalOpen ? 'block' : 'none' }">
        <div class="modal-content">
          <div class="modal-header" id="modal_header">
            <span class="close" id="close_carousel" (click)="closeCarouselModal()">&times;</span>
            <h2>Are you sure?</h2>
          </div>
          
          <div class="modal-body">
            <p>Confirm to delete inquiry from:</p>
            <p>{{ selectedEmail }}</p>
            <div class="redirect-button-container">
                <button class="cancel-button" (click)="closeCarouselModal()">Cancel</button>
                <button class="confirm-button" (click)="confirmDelete()">Confirm</button> 
            </div>
          </div>
        </div>
      </div>   

      <div id="response_modal" class="modal" [ngStyle]="{ display: carouselModalOpen2 ? 'block' : 'none' }">
        <div class="modal-content">
            <div class="modal-header" id="modal_header">
            <span class="close" id="close_carousel" (click)="closeCarouselModal()">&times;</span>
            <h2>Are you sure?</h2>
            </div>
            
            <div class="modal-body">
            <p>Confirm to delete selected inquiries</p>
            <div class="redirect-button-container">
                <button class="cancel-button" (click)="closeCarouselModal()">Cancel</button>
                <button class="confirm-button" (click)="deleteCheckedReports()">Confirm</button> 
            </div>
            </div>
        </div>
    </div> 
<body>