<app-header></app-header>
<app-sidenav></app-sidenav>
<app-navbar></app-navbar>

<body>
    <div class="loading-overlay" *ngIf="isLoading">
        <div class="loading-spinner"></div>
    </div>
    
    <section class="label_section">
        <div class="label_container">
            <h1>Community Projects Management</h1>
        </div>
    </section>

    <section class="info_section">
        <div class="info_container">
            <div class="info_card" id="add_post_card">
                <div class="column1">
                    <div class="card_image_container">
                        <img src="../../assets/mosquitopedia/mosquitopedia.png" alt="">
                    </div>
                </div>
                <div class="cards_buttons_container">
                    <button [routerLink]="'/create-community-project'">+  Create Post</button>
                </div>
            </div>
        </div>
    </section> 
    <hr id="line">
    
    <section class="label_section">
        <div class="label_container">
            <h1>Current Projects</h1>
        </div>
    </section>

    <section class="project_list_section">
        <div class="project_list_container">
            <div class="table_header">
                <h2 class="report_list_header">Community Project Details</h2>
                <div class="dropdown_container">
                    <label for="number_dropdown">Show:</label>
                    <select id="number_dropdown">
                        <option value="10">5</option>
                        <option value="20">10</option>
                        <option value="50">15</option>
                        <option value="100">20</option>
                    </select>
                </div>
            </div>
            <table class="report_table" id="report_table">
                <thead>
                    <tr>
                        <th><input type="checkbox" class="row-checkbox" (change)="checkAll($event)"></th>
                        <th>Title of Post</th>
                        <th>Type of Project</th>
                        <th>Location</th>
                        <th>Schedule</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="user_table_body">
                    <tr *ngIf="communityProjectsData.length === 0">
                        <td colspan="7">Currently, there are no community projects that have been posted.</td>
                    </tr>
                    <tr *ngFor="let project of communityProjectsData | slice:(currentPage - 1) * itemsPerPage:currentPage * itemsPerPage; let i = index" [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
                        <td><input type="checkbox" class="row-checkbox" (change)="toggleSelectReport(project._id)" [ngModel]="selectedReportIds.includes(project._id)"></td>
                        <td>{{ project.project_title }}</td>
                        <td>{{project.type_of_project}}</td>
                        <td>{{project.location}}</td>
                        <td>{{project.project_date}} {{ formatTime(project.project_time) }}</td>
                        <td>
                            <button class="view-button" (click)="editPost(project)">View</button>
                            <button class="delete-button" (click)="openCarouselModal(project)" >Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination_and_buttons_container">
            <div class="download_and_deleted_selected"  *ngIf="selectedReportIds.length > 0">
                <button class="download-selected" (click)="downloadSelectedReports()">Download Selected Projects</button>
                <button class="delete-selected" (click)="openCarouselModal2()">Delete Selected Projects</button>
            </div>
            <div class="download_and_deleted_selected"  *ngIf="selectedReportIds.length == 0">
            </div>
            <div class="pagination">
                <button (click)="previousPage()">◄</button>
                <button *ngFor="let page of getPages()" (click)="setPage(page)"  [ngClass]="{'active': page === currentPage}">{{ page }}</button>
                <button (click)="nextPage()">►</button>
            </div>
        </div>
    </section>   

     <!-- Modal -->
     <div id="response_modal" class="modal" [ngStyle]="{ display: carouselModalOpen ? 'block' : 'none' }">
        <div class="modal-content">
          <div class="modal-header" id="modal_header">
            <span class="close" id="close_carousel" (click)="closeCarouselModal()">&times;</span>
            <h2>Are you sure?</h2>
          </div>
          
          <div class="modal-body">
            <p>Confirm to delete project:</p>
            <p></p>
            <div class="redirect-button-container">
                <button class="cancel-button" (click)="closeCarouselModal()">Cancel</button> <!-- Close modal on cancel -->
                <button class="confirm-button" (click)="confirmDelete()">Confirm</button> <!-- Perform delete on confirm -->
            </div>
          </div>
        </div>
      </div>   

      <div id="response_modal" class="modal" [ngStyle]="{ display: carouselModalOpen2 ? 'block' : 'none' }">
        <div class="modal-content">
            <div class="modal-header" id="modal_header">
            <span class="close" id="close_carousel" (click)="closeCarouselModal()">&times;</span>
            <h2>Are you sure?</h2>
            </div>
            
            <div class="modal-body">
            <p>Confirm to delete selected reports</p>
            <div class="redirect-button-container">
                <button class="cancel-button" (click)="closeCarouselModal()">Cancel</button>
                <button class="confirm-button" (click)="deleteCheckedReports()">Confirm</button> 
            </div>
            </div>
        </div>
        </div>
<body>