<app-header></app-header>
<app-navbar></app-navbar>
<app-sidenav></app-sidenav>

<body>
    <section class="label_section">
        <div class="label_container">
            <h1>Accounts Management > Admins</h1>
        </div>
    </section>
    <section class="report_list_section">
        <div class="report_list_container">
            <h2 class="report_list_header">Admin Accounts List</h2>
            <table class="report_table">
            <tbody>
                <tr *ngFor="let information of Admin">
                    <td><img [src]="information.image" alt="Report Image" class="user_image"></td>
                    <td class="name"><p>{{ information.username }}</p></td>
                    <td><button (click)="editReport(information)" id="edit_button"><img src="../../assets/button_icons/edit_icon.png" alt="Edit">&nbsp;Edit</button></td>
                    <td><button (click)="deleteReport(information)" id="delete_button"><img src="../../assets/button_icons/delete_icon.png" alt="Delete">&nbsp;Delete</button></td>
                </tr>
            </tbody>
            </table>
        </div>
    </section> 
<body>