<!--nav-->
<div class="nav-wrapper">
    <div class="logo-container">
        <img class="logo" src="../../../assets/home_images copy/pasig_logo.png" alt="Logo">
    </div>
    <nav>
        <input class="hidden" type="checkbox" id="menuToggle">
        <label class="menu-btn" for="menuToggle">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
        </label>
        <div class="nav-container">
            <ul class="nav-tabs">
                <li class="nav-tab-logo"><a href="" ><img src="../../../assets/home_images/pasig_logo.png"  id="logo" alt="Mosquinator"></a></li>
                <li class="nav-tab"><a href="" >Pasig Dengue<br>&nbsp;&nbsp; Task Force</a></li>
                <li class="nav-tab"><a href="project-update" >&nbsp;&nbsp;&nbsp;Community<br>Projects Updates</a></li>
                <li class="nav-tab"><a href="dengue-five-s" >Dengue 5S</a></li>
                <li class="nav-tab"><a href="home" >Mosquinator<br>&nbsp;Mobile App</a></li>
                <li class="nav-tab"><a href="diseases" >&emsp;&nbsp;Mosquito<br>Borne-Diseases</a></li>
            </ul>
        </div>
    </nav>
  </div>
  <!--nav-->
  
  <router-outlet></router-outlet>
  
  
  
  
  