<!--nav-->
<div class="nav-wrapper">
    <div class="logo-container">
        <img class="logo" src="../../../assets/home_images copy/pasig_logo.png" alt="Logo">
    </div>
    <nav>
        <input class="hidden" type="checkbox" id="menuToggle">
        <label class="menu-btn" for="menuToggle">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
        </label>
        <div class="nav-container">
            <ul class="nav-tabs">
                <li class="nav-tab-logo"><a routerLink=""><img src="../../../assets/home_images/pasig_logo.png" id="logo" alt="Mosquinator"></a></li>
                <li class="nav-tab" [routerLinkActive]="['active-tab']" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Pasig Dengue Task Force</a></li>
                <li class="nav-tab" [routerLinkActive]="['active-tab']"><a routerLink="/project-update">Community Projects</a></li>
                <li class="nav-tab" [routerLinkActive]="['active-tab']"><a routerLink="/dengue-five-s">Dengue 5S</a></li>
                <li class="nav-tab" [routerLinkActive]="['active-tab']"><a routerLink="/home">Mosquinator App</a></li>
                <li class="nav-tab" [routerLinkActive]="['active-tab']"><a routerLink="/diseases">Mosquito-Borne Diseases</a></li>
            </ul>
        </div>
    </nav>
  </div>
  <!--nav-->
  
  <router-outlet></router-outlet>
  
  
  
  
  