<app-header></app-header>
<app-super-admin-sidenav></app-super-admin-sidenav>
<app-navbar></app-navbar>


<body>
    <div class="loading-overlay" *ngIf="isLoading">
        <div class="loading-spinner"></div>
    </div>
    <section class="label_section">
        <div class="label_container">
            <h1>Accounts Management</h1>
        </div>
    </section>
    <section class="info_section" id="second_section">
        <div class="info_container">
            <div class="info_card">
                <div class="row1">
                    <div class="card_image_container">
                        <img src="../../assets/admin_dashboard_images/mobile_users.png" alt="">
                    </div>
                    <div class="card_text_container">
                        <h3>Mobile Users</h3>
                        <p>Total No. of Users: {{totalUserInformationCount}}</p>
                    </div>
                </div>
                <div class="cards_buttons_container">
                    <button [routerLink]="'/mobile-users'">Manage</button>
                </div>
            </div>

            <div class="info_card">
                <div class="row1">
                    <div class="card_image_container">
                        <img src="../../assets/admin_dashboard_images/users.png" alt="">
                    </div>
                    <div class="card_text_container">
                        <h3>Admins and Personnels Accounts</h3>
                        <p>Total No. of Personnels: {{totalAdminCount}}</p>
                    </div>
                </div>
                <div class="cards_buttons_container">
                    <button [routerLink]="'/admins'">Manage</button>
                </div>
            </div>
        </div>
    </section>   
<body>