<app-header></app-header>

<app-sidenav></app-sidenav>
<app-navbar></app-navbar>

<body>
    <div>

    </div>

    <section class="label_section">
        <div class="label_container">
            <h1>Notifications</h1>
        </div>
    </section>

    <div class="tab-buttons">
        <button (click)="showReadCards()" [ngClass]="{'active-tab': readSelected}">Read</button>
        <button (click)="showUnreadCards()" [ngClass]="{'active-tab': unreadSelected}">Unread</button>
    </div>

    <section class="info_section" id="second_section">
        <div class="info_container">
            <div class="info_card" *ngIf="readSelected">
                <div class="row1">
                    <div class="card_text_container">
                        <h3>This page is currently under development</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>  
</body>