@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
.body {
    background-image: url('../../assets/login_and_registration_images/Log In.png');
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    border: solid  2px #00C3FF;
}
/*for form*/
.login_section {
  background-color: #DADADA;
  border-radius: 10px;
  width: 47%;
  margin-left: auto;
  margin-right: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4vw;
  padding-bottom: 4vw;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
  
.inquiry_title_container{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 1vw;
  width: 100%;
  justify-content: center;
}

.inquiry_title_container img{
  width: 5vw;
  height: 5vw;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 180px;
}


.inquiry_title_container h1{
  font-family: 'Squada One', sans-serif;
  color: #0E2F65;
  font-weight: bold;
  font-size: 2.5vw;
}

.description_container {
  font-family: 'Squada One', sans-serif;
  float: left;
  width: 25vw;
  margin-top: 2vw;
  margin-bottom: 0;
  text-align: center;
}

.description_container h1 {
  color: #0E2F65;
  font-size: 2.1vw;
  float: left;
  margin-bottom: 20px;
  font-weight: bold;
}


.form_container{
  width: 100%;
}

.form-row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


#email, #password{
  background-color: white;
  border-radius: 5px;
  height: 3.3vw;
  margin-bottom: 20px;
  width: 25vw;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  padding-left: 35px; /*eft padding to make space for the icon */
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #8898AA; 
  font-size: 20px;
}

.error-container{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.error-container div{
  text-align: center;
}

.invalid-tooltip {
  position: absolute;
  margin-top: 3px;
  z-index: 1
}

.form-group .invalid-tooltip{
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.7vw;
  z-index: 1
}

.tooltip-text {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.7vw;
  z-index: 1
}

.form-group {
  position: relative;
}

.form-control.is-invalid {
  border-color: #dc3545;
  z-index: 1
}

.send_button_container{
  text-align: center;
  
}
.send_button_container button{
  background-color: #28376D;
  width: 10vw;
  border-radius: 5px;
  font-size: 1.3vw;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 8px;
}

.register_button_container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1vw;
}
.register_button_container p{
  margin-bottom: 0;
}

.register_button_container a{
  text-decoration: underline;
}

.note_container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1vw;
  padding-left: 15px;
  padding-right: 15px;
}
.note_container p{
  margin-bottom: 0;
}

.note_container a span{
  color: red;
}


.note_container a{
  text-decoration: none;
}

.forgot_password_container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1vw;
}
.forgot_password_container p{
  margin-bottom: 0;
}

.forgot_password_container a{
  text-decoration: underline;
}

.password-container {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Font Awesome Icons */
.fa {
  font-family: 'FontAwesome';
  font-size: 18px;
}

/* Styling for the eye icons */
.fa-eye-slash:before {
  content: '\f070'; 
}

.fa-eye:before {
  content: '\f06e'; 
}

  
  /*RESPONSIVENESS*/
  @media (max-width: 855px) {
    /*for form*/
    .form_container{
      width: 100%;
    }

    .inquiry_title_container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .inquiry_title_container h1{
      font-size: 5vw;
    }
    
    .description_container{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
    
    .description_container h1{
      color: #18605F;
      font-size: 2.5vw;
    }

    .description_container_address{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .description_container_address h1{
      color: #18605F;
      font-size: 2.5vw;
    }

    .form-row{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    #email, #password{
      height: 5.5vw;
      margin-bottom: 30px;
      width: 35vw;
    }
  
    .tooltip-text {
      font-size: 1.5vw;
    }
    .send_button_container{
      text-align: center;
      width: 100%;
      float: none;
      margin-right: 0%;
    }
    
    .send_button_container button{
      width: 30vw;
      height: 40px;
      font-size: 2vw;
      padding: 5px;
    }
    .register_button_container{
      font-size: 2vw;
    }

    .note_container{
      font-size: 2vw;
    }

    .forgot_password_container{
      font-size: 2vw;
    }
  }

  @media (max-width: 600px) {  
  /*for form*/
  .modal-overlay {
    padding-left: 5%;
    padding-right: 5%;
  }
  .login_section {
      margin-left: 0;
      width: 90%;
      margin-right: 0;
      display: flex;
      justify-content: center; 
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
  }
    
    #email, #password{
      height: 10vw;
      margin-bottom: 30px;
      width: 60vw;
    }

    .inquiry_title_container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .inquiry_title_container img{
      width: 9vw;
      height: 9vw;
    }
    
    .inquiry_title_container h1{
      font-size: 5.5vw;
    }
    .description_container h1{
      font-size: 5vw;
    }
    .tooltip-text {
      font-size: 2.3vw;
    }
    .send_button_container{
      text-align: center;
      width: 100%;
      float: none;
      margin-right: 0%;
    }
    
    .send_button_container button{
      width: 50%;
      height: 45px;
      font-size: 3vw;
      padding: 5px;
    }
    .register_button_container{
      font-size: 2.5vw;
    }

    .note_container{
      font-size: 2.5vw;
    }

    .forgot_password_container{
      font-size: 2.5vw;
    }
  }
  
    /* for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 80%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 20vw;
  padding-right: 20vw;
}

.modal-content {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer h3 {
  margin: 0;
  padding: 5px;
}

#modal_header {
  background: var(--modal-color);
  padding: 15px;
  background-color: #28376D;
  color: white;
  font-family: 'Squada One', sans-serif;
  font-size: large;
}

#modal_header h2{
  margin-left: auto;
}

.modal-body {
  padding: 10px 20px;
  background-color: white;
  text-align: center;
}

#close_carousel {
  color: white;
  float: right;
  font-size: 30px;
}

#close_carousel:hover,
#close_carousel:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

   /*for loading*/
 .loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-overlay {
  padding-left: 20%;
  padding-right: 20%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items:flex-start;
  z-index: 9999; 
}


.modal-content-terms {
  background-color: white;
  font-weight: 600;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: black;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.agree-button{
  background-color: #28376D;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  margin-bottom: 10px;
}

.disagree-button{
  background-color: #d54258;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

#register-here-button{
  cursor: pointer;
  color: green;
}



