<body class="body">
    <section class="login_section">
        <div class="inquiry_title_container">
            <h1 class="inquiry_title">Management Portal</h1>
        </div>
        <div class="description_container">
            <h1 class="description">Login</h1>
        </div>
        <div class="form_container">
            <form (ngSubmit)="register()" #myForm="ngForm">
              <div class="form-row">
                <div class="login_container">
                  <div class="row_1">
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required [(ngModel)]="formData.email"
                        [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['email'].invalid }"
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                      <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['email'].invalid">
                        <span class="tooltip-text">Invalid Email.</span>
                      </div>
                      <div class="valid-tooltip">
                        &nbsp;
                      </div>
                    </div>
                    <div class="form-group password-container">
                      <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" name="password"
                        placeholder="Password" required [(ngModel)]="formData.password"
                        [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['password'].invalid }">
                      <span class="password-icon" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                      </span>
                      <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['password'].invalid">
                        <span class="tooltip-text">Password is required.</span>
                      </div>
                      <div class="valid-tooltip">
                        &nbsp;
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="error-container">
                <div *ngIf="showError" class="alert alert-danger mt-3">
                  Invalid login credentials.
                </div>
              </div>
              <div class="send_button_container">
                <div class="form-row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary mt-3">Sign Up</button>
                  </div>
                </div>
              </div>
              <div class="register_button_container">
                <p>Don't have an account yet?</p>
                <a routerLink="/account-registration">Register Here!</a>
              </div>
            </form>
        </div>
    </section>
</body>