<body class="body">
  <div class="loading-overlay" *ngIf="isLoading">
    <div class="loading-spinner"></div>
  </div>

    <section class="login_section">
        <div class="inquiry_title_container">
            <img src="../../assets/logo/pasig_logo.png" alt="pasig logo">
            <h1 class="inquiry_title">Pasig Dengue Task Force<br>Online Management</h1>
        </div>
        <div class="description_container">
            <h1 class="description">Login</h1>
        </div>
        <div class="form_container">
            <form (ngSubmit)="login()" #myForm="ngForm">
              <div class="form-row">
                <div class="login_container">
                  <div class="row_1">
                    <div class="form-group">
                      <i class="fa fa-envelope icon"></i>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required [(ngModel)]="formData.email"
                        [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['email'].invalid }"
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                      <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['email'].invalid">
                        <span class="tooltip-text">Invalid Email.</span>
                      </div>
                      <div class="valid-tooltip">
                        &nbsp;
                      </div>
                    </div>
                    <div class="form-group password-container">
                      <i class="fa fa-lock icon"></i>
                      <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" name="password"
                        placeholder="Password" required [(ngModel)]="formData.password"
                        [ngClass]="{ 'is-invalid': myForm.submitted && myForm.controls['password'].invalid }">
                      <span class="password-icon" (click)="togglePasswordVisibility()">
                        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                      </span>
                      <div class="invalid-tooltip" *ngIf="myForm.submitted && myForm.controls['password'].invalid">
                        <span class="tooltip-text">Password is required.</span>
                      </div>
                      <div class="valid-tooltip">
                        &nbsp;
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="error-container">
                <div *ngIf="showError" class="alert alert-danger">
                  Invalid login credentials.
                </div>
              </div>
              <div class="error-container">
                <div *ngIf="showConnectionError" class="alert alert-danger">
                  There is a connection error, please check you internet connection and try again.
                </div>
              </div>
              <div class="send_button_container">
                <div class="form-row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" id="send_button">Login</button>
                  </div>
                </div>
              </div>
              <div class="register_button_container">
                <p>Don't have an account yet?</p>
                <a (click)="redirectToRegister()" id="register-here-button">Register Here!</a>
              </div>
             
              <div class="forgot_password_container">
                <a routerLink="/forgot-password">Forgot Password?</a>
              </div>

              <hr>

              <div class="note_container">
                <a><span>NOTE:</span> Exclusively for Pasig City Barangay Health officials and Pasig City Anti-Dengue Task Force only. If you're a Pasig City resident, please use our mobile app for Dengue related concerns reporting.
                </a>
              </div>
            </form>
        </div>
    </section>

     <!-- Modal -->
     <div id="response_modal" class="modal" [ngStyle]="{ display: carouselModalOpen ? 'block' : 'none' }">
      <div class="modal-content">
        <div class="modal-header" id="modal_header">
          <h2>Account Validation Pending</h2>
          <span class="close" id="close_carousel" (click)="closeCarouselModal()">&times;</span>
        </div>
        
        <div class="modal-body">
          <p>Your account is not yet validated. Please wait for the approval of your account from the Pasig City Anti-Dengue Task Force. We will also send you an email once your account has been validated.</p>
          <div class="redirect-button-container">
            <button class="btn btn-primary" (click)="closeModal()">Back</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Terms and conditions modal -->
    <div class="modal-overlay" *ngIf="showTermsModal">
      <div class="modal-content-terms">
          <span class="close" (click)="closeTermsModal()">&times;</span>
          <h2>Terms and Conditions</h2>
          <p>Please read our <a href="javascript:void(0)" (click)="openPdfInNewTab()">Terms and Conditions</a> and <a href="javascript:void(0)" (click)="openPdfInNewTab()">Privacy Policy</a> carefully. By accepting, you agree to our terms and policies.</p>
          <div class="button-container">
              <button class="agree-button" (click)="agreeTermsAndRegister()">Agree</button>
              <button class="disagree-button" (click)="disagreeTerms()">Disagree</button>
          </div>
      </div>
  </div>

</body>