<header>
    <div class="main_div">
        <div class="date_time_container">
            {{ currentDate }} | {{ currentTime }}
        </div>

        <div class="buttons_container">
            <button class="button login-button" (click)="redirectToLogin()">&nbsp;&nbsp; Login &nbsp;&nbsp;</button>
            <button class="button register-button" (click)="redirectToRegister()">Register</button>
        </div>
    </div>
    <!-- Terms and conditions modal -->
    <div class="modal-overlay" *ngIf="showTermsModal">
        <div class="modal-content">
            <span class="close" (click)="closeTermsModal()">&times;</span>
            <h2>Terms and Conditions</h2>
            <p>Please read our <a href="javascript:void(0)" (click)="openPdfInNewTab()">Terms and Conditions</a> and <a href="javascript:void(0)" (click)="openPdfInNewTab()">Privacy Policy</a> carefully. By accepting, you agree to our terms and policies.</p>
            <div class="button-container">
                <button class="agree-button" (click)="agreeTermsAndRegister()">Agree</button>
                <button class="disagree-button" (click)="disagreeTerms()">Disagree</button>
            </div>
        </div>
    </div>
</header>
